
# set content encodings
*     encoding=UTF-8
*.mqh encoding=CP1252 text
*.mq4 encoding=CP1252 text
*.mq5 encoding=CP1252 text
*.tpl encoding=CP1252 text


# checkout with Windows line-endings (not yet supported by EGit)
hotkeys.ini   text eol=crlf


# Gitgub Linguist overrides
/etc/**       linguist-detectable=false
/files/**     linguist-detectable=false
/sounds/**    linguist-detectable=false
/templates/** linguist-detectable=false
*.mqh         linguist-language=MQL4
