# do not ignore the following files
!.gitattributes

# ignore Eclipse directories and files
/.externalToolBuilders/
/.settings/
/.buildpath
/.project*

# ignore the following directories and files
/bin/debugview/dbgview.*
/bin/experts/include
/etc/windows/appdata/*
/profiles/
mqlcache.dat
*.ex4
*.ex5

# ignore distributed/linked/log folders in legacy MT4 file structure
/mql4/experts/config
/mql4/experts/files
/mql4/experts/include
/mql4/experts/indicators
/mql4/experts/libraries
/mql4/experts/logs
/mql4/experts/presets
/mql4/experts/scripts
/mql4/experts/templates

# ignore distributed/linked/log folders in current MT4 file structure
/mql4/files
/mql4/images
/mql4/logs
/mql4/presets
/mql4/projects
/mql4/shared projects

# ignore files created by the tester
/tester/
