# default: self-detect the content type (text vs. binary)
*                 text=auto


# enforce content type "text" to fix mixed line-endings in the repo
*.h               text
*.htm             text
*.html            text
*.ini             text
*.md              text
*.mq4             text
*.mq5             text
*.mqh             text
*.sh              text
*.txt             text


# set content encodings
*                 encoding=UTF-8
/mql*/            encoding=CP1252
*.md              encoding=UTF-8


# checkout with Windows line-endings (not yet supported by EGit)
*.tpl             text eol=crlf
hotkeys.ini       text eol=crlf


# Gitgub Linguist overrides
/etc/**           linguist-detectable=false
/files/**         linguist-detectable=false
/sounds/**        linguist-detectable=false
/templates/**     linguist-detectable=false
*.mqh             linguist-language=MQL4

