# never ignore the following files
!.gitattributes
!.gitkeep

# ignore Eclipse directories and files
/.externalToolBuilders
/.settings
/.buildpath
/.project*

# ignore the following directories and files
/etc/windows/user.appdata
/files
mqlcache.dat
*.ex[45]
.env

# ignore distributed/linked/log folders
/mql*/files
/mql*/images
/mql*/logs
/mql*/presets
/mql*/projects
/mql*/shared projects

# ignore tester related files
/tester
